
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
@Html.Partial("/Views/Register/PartialHead.cshtml")
<body>



    <h1>ADMİN GİRİŞİ</h1>

    <div class="login">
        <span class="log-close"> </span>
        <div class="login-bottom">
            <form>

                <div class="text">
                    <input type="text" placeholder="Mailinizi giriniz" required="" name="CustomerMail" />
                    <div class="clear"> </div>
                </div>



                <div class="text">
                    <input type="password" placeholder="Şifrenizi giriniz" required="" name="CustomerPassword" />
                    <div class="clear"> </div>
                </div>
                <div class="text">
                    <input type="checkbox" name="Rememberme" />
                    <div class="clear">Beni Hatırla </div>
                </div>

                <div class="remember">

                    <div class="send">
                        <input type="submit" value="Giriş Yap">
                    </div>
                    <div class="clear"> </div>
                </div>
            </form>
        </div>
    </div>
    <div class="copy-right">
        <p>@DateTime.Now.Year Creative Account Form.Tüm hakları saklıdır.| Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
    </div>
</body>
</html>

