
@{
    ViewBag.Title = "AddCity";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Şehir Girişi</h2>
<br />
<form method="post">
    <label>Şehir Adı</label>
    <input type="text" class="form-control" name="CityName"/>
    <br />
    <button class="btn btn-primary">Şehri Kaydet</button>
</form>

