
<div class="header">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a href="index.html">Transporters</a></h1>
        </div>
        <div class="top-nav-text">
            <div class="nav-contact-w3ls"><i class="fa fa-phone" aria-hidden="true"></i><p>0(212) 212 12 12</p></div>
        </div>
        <!-- navbar-header -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="hvr-underline-from-center active" href="/Default/Index/">Ana Sayfa</a></li>
                <li><a href="services.html" class="hvr-underline-from-center">Hizmetlerimiz</a></li>
                <li><a href="#team" class="hvr-underline-from-center scroll scroll">Ekip</a></li>
                <li><a href="gallery.html" class="hvr-underline-from-center">Galeri</a></li>
                <li>
                    <a href="#" data-toggle="dropdown"><span data-hover="ShortCodes">Kısa Kodlar</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="icons.html"><span data-hover="Icons">İkonlar</span></a></li>
                        <li><a href="typography.html"><span data-hover="Typograpghy">Tasarım</span></a></li>
                    </ul>
                </li>
                <li><a href="contact.html" class="hvr-underline-from-center">İletişim</a>
            </ul>
        </div>

        <div class="clearfix"> </div>
    </nav>

</div>
