
<div class="col-md-6 services-bottom">
    <div class="col-md-6 agileits_w3layouts_about_counter_left">
        <div class="countericon">
            <i class="fa fa-truck" aria-hidden="true"></i>
        </div>
        <div class="counterinfo">
            <p class="counter">1126</p>
            <h3>Transport vehicles</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-6 agileits_w3layouts_about_counter_left">
        <div class="countericon">
            <i class="fa fa-fighter-jet" aria-hidden="true"></i>
        </div>
        <div class="counterinfo">
            <p class="counter">180</p>
            <h3>International Service</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
    <div class="col-md-6 agileits_w3layouts_about_counter_left">
        <div class="countericon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="counterinfo">
            <p class="counter">20</p>
            <h3>Şehir Sayısı</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-6 agileits_w3layouts_about_counter_left">
        <div class="countericon">
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="counterinfo">
            <p class="counter">800</p>
            <h3>Mutlu Müşteriler</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>

