
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
@{Html.Partial("PartialHead", "Default");}
<body>
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a href="index.html">Transporters</a></h1>
            </div>
            <div class="top-nav-text">
                <div class="nav-contact-w3ls"><i class="fa fa-phone" aria-hidden="true"></i><p>+0(12) 444 262 399</p></div>
            </div>
            <!-- navbar-header -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="hvr-underline-from-center active" href="index.html">Home</a></li>
                    <li><a href="services.html" class="hvr-underline-from-center">Services</a></li>
                    <li><a href="#team" class="hvr-underline-from-center scroll scroll">Team</a></li>
                    <li><a href="gallery.html" class="hvr-underline-from-center">Gallery</a></li>
                    <li>
                        <a href="#" data-toggle="dropdown"><span data-hover="ShortCodes">Short Codes</span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="icons.html"><span data-hover="Icons">Icons</span></a></li>
                            <li><a href="typography.html"><span data-hover="Typograpghy">Typograpghy</span></a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html" class="hvr-underline-from-center">Contact</a>
                </ul>
            </div>

            <div class="clearfix"> </div>
        </nav>

    </div>
    <div class="banner1">
    </div>
    <div class="about-breadcrumb">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a><i>></i></li>
                <li>Our Services</li>
            </ul>
        </div>
    </div>
    <!-- services section -->
    <div class="services" id="services">
        <div class="heading">
            <h2>Our Services</h2>
        </div>
        <div class="container">
            <div class="servicegrids">
                <div class="servicetopgrids">
                    <div class="col-md-4 servicegrid1">
                        <h5>01</h5>
                        <h4>Airways Transport</h4>
                        <p>
                            Ut enim ad minima veniam, quis nostrum
                            exercitationem ullam corporis suscipit laboriosam,
                            nisi ut aliquid ex ea commodi consequatur? Quis autem.
                        </p>
                    </div>
                    <div class="col-md-4 servicegrid1">
                        <h5>02</h5>
                        <h4>Roadways Transport</h4>
                        <p>
                            Ut enim ad minima veniam, quis nostrum
                            exercitationem ullam corporis suscipit laboriosam,
                            nisi ut aliquid ex ea commodi consequatur? Quis autem.
                        </p>
                    </div>
                    <div class="col-md-4 servicegrid1">
                        <h5>03</h5>
                        <h4>Waterways Transport </h4>
                        <p>
                            Ut enim ad minima veniam, quis nostrum
                            exercitationem ullam corporis suscipit laboriosam,
                            nisi ut aliquid ex ea commodi consequatur? Quis autem.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
    <!-- //services section -->
    <!-- bootstrap-modal-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Transport
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <img src="images/bg3.jpg" alt=" " class="img-responsive" />
                    <p>
                        Ut enim ad minima veniam, quis nostrum
                        exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi consequatur? Quis autem
                        vel eum iure reprehenderit qui in ea voluptate velit
                        esse quam nihil molestiae consequatur, vel illum qui
                        dolorem eum fugiat quo voluptas nulla pariatur.
                        <i>
                            " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur.
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //bootstrap-modal-pop-up -->
    <!-- services bottom -->
    <div class="Servicebottom">
        <div class="layer">
            <div class="col-md-5">
            </div>
            <div class="col-md-7 Servicebottomtext">
                <h3>Fast and Safe Transport Service</h3>
                <h3>Specialized heavy-Duty Vehicles</h3>
                <h3>Shipping Services & Logistics Management</h3>
                <p>
                    Ut enim ad minima veniam, quis nostrum
                    exercitationem ullam corporis suscipit laboriosam,
                    nisi ut aliquid ex ea commodi consequatur? Quis autem consequatur? Quis autem
                    vel eum iure reprehenderit qui in ea voluptate velit vel eum iure reprehenderit qui in ea voluptate velit
                    esse quam nihil molestiae consequatur, vel quidolorem eum fugiat quo voluptas nulla pariatur.
                </p>
                <h4><i class="fa fa-taxi" aria-hidden="true"></i>International Transport Deliver System</h4>
                <h4><i class="fa fa-truck" aria-hidden="true"></i>Truck Logistics Service</h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //services bottom -->
    <!-- team -->
    <!-- //team -->
    <!-- footer -->
    
    <!-- //footer -->
    <!-- js-scripts -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- //js-scripts -->
    <!-- start-smoth-scrolling -->
    <script src="js/SmoothScroll.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });</script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
    $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });</script>
    <!-- //here ends scrolling icon -->
    <!-- start-smoth-scrolling -->

</body>
</html>

