
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Profil Bilgileri Sayfası</h2>

<h4>Hoşgeldiniz: @ViewBag.v1 @ViewBag.v2 </h4>
<h5>Mail Adresiniz: @ViewBag.v3</h5>
<h5>Telefon numaranız: @ViewBag.v4</h5>

