@model Logıstıc.UILayer.Models.TblMessage
@{
    ViewBag.Title = "MessageDetails";
    Layout = "~/Views/Shared/NewAdminLayout.cshtml";
}

<h2>MessageDetails</h2>

@Html.DisplayFor(x => x.MessageContent)